* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f1fa;
  --foreground: #fff;

  --body-text: #6371c3;
  --heading-text: #1a237e;
  --btn-text: #fff;

  --highlight: #314efe;
  --highlight-2: #efac0c;

  --border-color: #e0dfe0;
  --border-radius: 3px;

  --blue: #1e88e5;
  --light-blue: #bbdefb;

  --green: #43a048;
  --light-green: #c7e6c8;

  --orange: #f9a825;
  --light-orange: #fff9c4;

  --purple: #8d25aa;
  --light-purple: #e1bee7;
}

html {
  height: 100%;
}

body {
  font-family: "Noto Sans JP", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--body-text);
  line-height: 1.5;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("background.svg");
  background-size: cover;
}

.heading {
  color: var(--heading-text);
  line-height: 1.3;
  font-weight: 500;
}

.cta-heading {
  font-size: 2.5em;
}

.card-heading {
  margin: 0.5em 0;
  font-size: 1.3em;
}

.text-highlight {
  color: var(--highlight);
}

.top-text {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
}

.cta-paragraph {
  margin: 1em 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 3em;
  align-items: center;
  padding: 2em;
}

.cards {
  display: flex;
  width: 55%;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  min-width: 40%;
  flex: 1;
  background-color: var(--foreground);
  padding: 1.7em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.card:first-child {
  margin-bottom: 2em;
}

.card:nth-child(2) {
  margin-top: 2em;
}

.card:nth-child(3) {
  margin-top: -2em;
  margin-bottom: 2em;
}

.card:first-child .icon {
  color: var(--blue);
  background-color: var(--light-blue);
}

.card:nth-child(2) .icon {
  color: var(--green);
  background-color: var(--light-green);
}

.card:nth-child(3) .icon {
  color: var(--orange);
  background-color: var(--light-orange);
}

.card:last-child .icon {
  color: var(--purple);
  background-color: var(--light-purple);
}

.icon {
  width: 2em;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.cta-btn {
  text-transform: uppercase;
  background-color: var(--highlight-2);
  color: var(--btn-text);
  font-weight: 600;
  padding: 0.7em 1em;
  border-radius: var(--border-radius);
  border: none;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .cta-section {
    max-width: 30em;
  }

  .cards {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
  }

  .card:first-child {
    margin: 0;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:nth-child(3) {
    margin: 0;
  }
}
