* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f1fa;
  color: #6371c3;
  line-height: 1.5;
  height: 100%;
  display: flex;
  align-items: center;
}

.heading {
  color: #1a237e;
}

.top-text {
  text-transform: uppercase;
  font-size: 0.9em;
}

.cta-section {
  margin-right: 4em;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 2em;
}

.cards {
  display: flex;
  width: 60%;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  min-width: 40%;
  flex: 1;
  background-color: #ffffff;
  padding: 2em;
  border: 1px solid #e0dfe0;
  border-radius: 5px;
}

.card:first-child {
  margin-bottom: 2em;
}

.card:nth-child(2) {
  margin-top: 2em;
}

.card:nth-child(3) {
  margin-top: -2em;
  margin-bottom: 2em;
}

.icon {
  width: 1.5em;
}

.cta-btn {
  text-transform: uppercase;
  background-color: #efac0c;
  color: #ffffff;
  font-weight: 600;
  padding: 0.7em 1em;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .cta-section {
    max-width: 30em;
  }

  .cards {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
  }

  .card:first-child {
    margin: 0;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:nth-child(3) {
    margin: 0;
  }
}
