* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f1fa;
  --foreground: #fff;

  --body-text: #6371c3;
  --heading-text: #1a237e;
  --btn-text: #fff;

  --highlight: #314efe;
  --highlight-2: #efac0c;

  --border-color: #e0dfe0;
  --border-radius: 5px;
}

html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--body-text);
  line-height: 1.5;
  height: 100%;
  display: flex;
  align-items: center;
}

.heading {
  color: var(--heading-text);
}

.top-text {
  text-transform: uppercase;
  font-size: 0.9em;
}

.cta-section {
  margin-right: 4em;
}

.cta-paragraph {
  margin: 1em 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 2em;
}

.cards {
  display: flex;
  width: 60%;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  min-width: 40%;
  flex: 1;
  background-color: var(--foreground);
  padding: 2em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.card:first-child {
  margin-bottom: 2em;
}

.card:nth-child(2) {
  margin-top: 2em;
}

.card:nth-child(3) {
  margin-top: -2em;
  margin-bottom: 2em;
}

.icon {
  width: 1.5em;
}

.cta-btn {
  text-transform: uppercase;
  background-color: var(--highlight-2);
  color: var(--btn-text);
  font-weight: 600;
  padding: 0.7em 1em;
  border-radius: var(--border-radius);
  border: none;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .cta-section {
    max-width: 30em;
  }

  .cards {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
  }

  .card:first-child {
    margin: 0;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:nth-child(3) {
    margin: 0;
  }
}
